<ion-view style="" class=" " id="page3" title="Accounting">
    <ion-content class="has-header" padding="true">
        <ion-list class=" " id="accounting-list3">
            <ion-item style="" id="accounting-list-item3" class="item-avatar  ">
                <h2>Annabelle a dépensé 200 €</h2>
            </ion-item>
            <ion-item style="" id="accounting-list-item4" class="item-avatar  ">
                <h2>Jessica a dépensé 150 €</h2>
            </ion-item>
        </ion-list>
        <ion-list class=" " id="accounting-list4">
            <ion-item style="" id="accounting-list-item10" class="item-icon-left item-icon-right  ">
                <i class="icon ion-alert"></i>Je dois xxx € à Annabelle
                <i class="icon ion-android-checkbox-outline-blank"></i>
            </ion-item>
            <ion-item style="" id="accounting-list-item11" class="item-icon-left item-icon-right  ">
                <i class="icon ion-alert"></i>Je dois xxx € à Jessica
                <i class="icon ion-android-checkbox-outline-blank"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>