

  <ion-modal-view>
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">New Expense</h1>
      <button class="button button-clear button-positive" ng-click="closeNewExpense()">Cancel</button>
    </ion-header-bar>

    <ion-content>

      <form ng-submit="createExpense(expense)">
        <div class="list">
          <label class="item item-input">
            <input type="number" placeholder="How many did you spent ? (in €)" ng-model="expense.amount">
            <input type="text" placeholder="For what reason ?" ng-model="expense.label">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Expense</button>
        </div>
      </form>

      </ion-content>
  </ion-modal-view>
